body {
    margin:0%;
    padding: 0%;
    font-family: 'Open Sans', Arial, sans-serif;
    text-align: center;
    margin: 0%;
    padding: 0%;
    font-size: 1.2em;
   } 
   
nav ul {
    list-style: none;
    background-color: #4a4a4f;
}

nav li {
    font-size: 1.5em;
    line-height: 50px;
    height: 50px;
    width: 250px;
    display: inline-block;
    margin: 2%;
}

nav a {
    text-decoration: none;
    color: #ffff;
    display: block;
}

nav a:hover{
    text-decoration: none;
    background-color: #ffff;
    color:#4a4a4f;
}
.card a{
    text-align: center;
}

h2, h4{
    text-decoration: none;
    text-align: left;
    font-family: montserrat;
    background-color: #4a4a4f;
    color:#4a4a4f
}
.kuriboh{
    text-decoration: none;
    width: 111px;
    height: 190px;
}

.kuriboh img{
    text-decoration: none;
    height: 55px;
    width: 100px;
}

#banner{
    background-image: url('https://d1rw89lz12ur5s.cloudfront.net/photo/ttdcards/file/9a432f20868711e6afa6bf0f53c5bbaf/splashBanner_yugioh.jpg'); 
    background-position: bottom;
}
