@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #ffffff;
    font-size: 25px;
    background-color: #504c80;
   } 

footer{
    height: 150px;
}

.social-media{
    text-align: center;
}

.social-media > li{
    display: inline;
}

.social-media > i{
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #c5376f;
}

 *{
    padding: 0;
    margin: 0;
    border: none;
 }
   
h1{
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #bfa34d;
    position: relative;
} 

h2{
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #bfa34d;
    text-align: center;
} 

h3{
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #bfa34d;
}

h4{
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #bfa34d;
}

h5{
    font-family: Oswald, sans-serif;
    letter-spacing: 2px;
    color: #c5376f;
}

h6{
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #77c0f1;
}
.text-center{
    text-align: center;
}

li{
    font-size: 90%;
    color: #06ffe3;
}

p{
    font-size: 85%;
    letter-spacing: 1px;
}

#logo {
    text-decoration: none;
    float: left;
    font-size: 200%;
    line-height: 50px;
    margin-left: 30px;
 }

#menu, logo{
    text-decoration: none;
    line-height: 50px;
}

#menu{
    text-decoration: none;
    font-size: 100%;
    letter-spacing: 2px;
    position: relative;
}
#menu li{
    float: right;
    list-style-type: none;
    margin-right: 30px;
    position: relative;
    margin-right: 30px;
}
#menu a{
    text-decoration: none;
    color: #bfa34d;
    position: relative;
}
#menu a:hover{
    text-decoration: none;
    color: #f9e2e1;
    border-bottom: 1px solid #ffffff; 
}

a:link{
    color:#bfa34d;
    background-color: transparent;
    text-decoration: none;
}

a:visited{
    color:#c5376f;
    background-color: transparent;
    text-decoration: none;
}

a:hover{
    color:#bfa34d;
    background-color: transparent;
    text-decoration: none;
}

.active{
    border-bottom: 1px solid #ffffff;
}

#card{
    background-image: url('../images/TCG_logo_500x500.png');
    position: fixed;
    left: 0;
    bottom: 0;
    background-position: center;
    height: 100%;
    width: 100%;
}


#banner-outer{
    height: 450px;
    width: 100%; 
    overflow: hidden;
    position: relative;
}  
   

#cover-text, cover-text h4{
    color: #bfa34d;
    border: 5px solid #2e2b57;
}

#cover-text{
    font-size: 100%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    width: 200px;
    height: 100px;

    padding-top: 40px;
    padding-left: 10px;

    bottom: 30px;
    left: 200px;
    float: right;
    
}

#banner{
    background-image: url('../images/wallpaper2you_17739.jpg'); 
    height: 450px;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#galaxy_eyes{
    background-image: url('../images/Number\ 107:\ Galaxy\ Eyes\ Tachyon\ Dragon.png');
    height: 500px;
    width: 300px;
    font-size: 25px;
    color: #f9e2e1;
    text-align: right; 
    background-repeat: no-repeat;
    object-fit: scale-down;

}


#home-page{
    height:600px;
}

#left-about{
    padding-top: 40px;
    width: 33%;
    float: left;
}

#right-about{
    padding-top: 30px;
    width: 33%;
    float: right;
}

#right-side{
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about{
    width:33%;
    margin: 0 auto;
}
#center{
    width:33%;
    margin: 0 auto;
}

hr{
    border-top: 1px solid #bfa34d;
    width: 100%;
    margin: 5px 0;
}


.left-about-heading{
    width: 60%;
    float: right;
    line-height: 30px;
    clear: both;
    margin-bottom: 50px;
}
.right-about-heading{
    width: 60%;
    float: left;
    line-height: 30px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading{
    text-align: right;
    float: left;
}

.floatright{
    float: right;
    text-align: right;
}

#welcome{
    text-align: center;
    color: #bfa34d;
    margin-top: 50px 0;
    font-size: 250%;
} 

#card-info{
    text-align: center;
    color: #bfa34d;
    margin-top: 50px 0;
    font-size: 250%;
} 

#card-container{
    width: 600px;
    height: 876px;
    padding: 30px;
    margin: 0 auto;
}

#card-img{
    background-image: url('../images/PhotonEmperor-PHHY-EN-C-1E.png');
    width: 600px;
    height: 876px;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: contain;
}

#circle-container{
    width: 350px;
    height: 350px;
    padding: 10px;
    border-style: solid;
    border-color: #c5376f;
    border-width: 10px;
    border-radius: 100%;
    margin: 0 auto;
}

#circle-cover-bg{
    background-image: url('../images/linkuriboh_extended.jpg');
    height: 100%;
    border-radius: 50%;
    object-fit: fill;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;

    animation-name: kuriboh-zoom;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes kuriboh-zoom {
    from{
        transform: scale(1);
    }

    to{
        transform: scale(1.1);
    }
}

#yugioh-play-mat{
    background-image: url('../images/yugioh-play-mat.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#square-container{
    width: 2112px;
    height: 992px;
    object-fit: contain;
    margin: auto 0;
    place-items: center;
    
}

#square-cover-bg{
    background-image: url('../images/yugioh-play-mat.png');
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: fill;
    place-items: center;
}