@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #ffffff;
    font-size: 25px;
    background-color: #504c80;
   } 

 *{
    padding: 0;
    margin: 0;
    border: none;
 }
   
 h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #bfa34d;
    position: absolute;
    text-align: center;
 } 

h3, h5{
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #bfa34d;
}

h4{
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #bfa34d;
}

#logo {
    text-decoration: none;
    float: left;
    font-size: 200%;
    line-height: 50px;
    margin-left: 30px;
 }

#menu, logo{
    text-decoration: none;
    line-height: 50px;
}

 #menu{
    text-decoration: none;
    font-size: 100%;
    letter-spacing: 2px;
    position: relative;
 }
 #menu li{
    float: right;
    list-style-type: none;
    margin-right: 30px;
    position: relative;
    margin-right: 30px;
 }
#menu a{
    text-decoration: none;
    color: #bfa34d;
    position: relative;
}
#menu a:hover{
    text-decoration: none;
    color: #f9e2e1;
    border-bottom: 1px solid #ffffff; 
}

a:link{
    color:#bfa34d;
    background-color: transparent;
    text-decoration: none;
}

a:visited{
    color:#c5376f;
    background-color: transparent;
    text-decoration: none;
}

a:hover{
    color:#f9e2e1;
    background-color: transparent;
    text-decoration: none;
}

.active{
    border-bottom: 1px solid #ffffff;
}

#card{
    background-image: url('../images/TCG_logo_500x500.png');
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
}

#banner-outer{
    height: 450px;
    width: 100%; 
    overflow: hidden;
    position: relative;
}  

   

#cover-text, cover-text h4{
    color: #bfa34d;
    border: 5px solid #2e2b57;
}

#cover-text{
    font-size: 100%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 200px;
    height: 100px;

    padding-top: 40px;
    padding-left: 10px;

    bottom: 30px;
    left: 200px;
    float: right;
}

#banner{
    background-image: url('../images/wallpaper2you_17739.jpg'); 
    height: 450px;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


  /*animation-name: banner;
    animation-duration: 1s;
    animation-fill-mode: forwards;-->*/

/*
@keyframes banner{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

@keyframes banner2{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
*/
#galaxy_eyes{
    background-image: url('../images/Number\ 107\ card\ 2.jpg');
    height: 446px;
    width: 200;
    font-size: 25px;
    color: #f9e2e1;
    text-align: left; 
    clear: both;
    position: relative;
    background-repeat: no-repeat;
    float: none;
}



#infitrack{
    background-image: url('../images/infitrack.jpg');
    font-size: 25px;
    width: 200px;
    height: 300px;
    color: #f9e2e1;
    text-align: left; 
    clear: right;
    position: relative;
    background-repeat: no-repeat;
}

#home-page{
    height:600px;
}

#left-about{
    padding-top: 30px;
    width: 33%;
    float: left;

}

#right-about{
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about{
    width:33%;
    margin: 0 auto;
    background-color: #c5376f;
}

hr{
    border-top: 1px solid #bfa34d;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading{
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}
.right-about-heading{
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading{
    text-align: right;
}

.right-about-heading{
    text-align: right;
}
footer{
    text-align: center;
}

